<h1>Bills Tracker</h1>

<form action="/add_bill" method="post">
  <label for="">Date:</label>
  <input type="date" name="date">
  <label for="">Description:</label>
  <input type="text" name="description">
  <label for="">Amount:</label>
  <input type="number" name="amount">
  <label for="">Category:</label>
  <select name="category">
    <option value="monthly">Monthly</option>
    <option value="quarterly">Quarterly</option>
  </select>
  <label for="">Paid?</label>
  <input type="checkbox" name="paid">
  <button>Submit</button>
</form>

<section class="bills list">
  <ul>
    <% @user_bills.reverse_each do |bill| %>
      <li><a href="/bill_details?id=<%= bill["id"] %>">
          <%= bill["date"] %>
          <%= bill["description"] %>
          <%= bill["amount"] %>
          <%= bill["category"] %>
        </a></li>
    <% end %>
  </ul>
</section>