<h1>Bill Details</h1>

<div class="bill-details-container">
  <span class="bill-detail"><%= @single_bill["date"] %></span>
  <span class="bill-detail"><%= @single_bill["description"] %></span>
  <span class="bill-detail"><%= @single_bill["amount"] %></span>
  <span class="bill-detail"><%= @single_bill["category"] %></span>
  <span class="bill-detail"><%= @single_bill["paid"] %></span>
</div>

<div class="bill-details-buttons-container">
  <form class="bill-details-btn-form" action="/update_bill">
  <input type="hidden" name="id" value="<%= @single_bill["id"] %>">
    <button class="bill-detail-buttons">Update</button>
  </form>

  <form class="bill-details-btn-form" action="/delete_bill?id=<%= @single_bill["id"] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="bill-detail-buttons">Delete</button>
  </form>
</div>